In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
events_data = pd.read_csv('event_data_train.csv')

In [6]:
events_data.head(10)

   step_id   timestamp           action  user_id
0    32815  1434340848           viewed    17632
1    32815  1434340848           passed    17632
2    32815  1434340848       discovered    17632
3    32811  1434340895       discovered    17632
4    32811  1434340895           viewed    17632
5    32811  1434340895           passed    17632
6    32929  1434340921       discovered    17632
7    32929  1434340921           viewed    17632
8    32929  1434340939  started_attempt    17632
9    32929  1434340944           passed    17632

## поменяем формат времени в timestamp

In [8]:
events_data['date'] = pd.to_datetime(events_data.timestamp, unit = 's')

In [9]:
events_data.head()

   step_id   timestamp      action  user_id                date
0    32815  1434340848      viewed    17632 2015-06-15 04:00:48
1    32815  1434340848      passed    17632 2015-06-15 04:00:48
2    32815  1434340848  discovered    17632 2015-06-15 04:00:48
3    32811  1434340895  discovered    17632 2015-06-15 04:01:35
4    32811  1434340895      viewed    17632 2015-06-15 04:01:35